/* Advice: */
/* 1. nth-child умение работать http://css.yoksel.ru/nth-child/ */

:root {
    --VeryDarkGray: hsl(0, 0%, 17%);
    --DarkGray: hsl(0, 0%, 59%);
}

.body {
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
}

.tracker {
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.tracker__group {
    background-image: url(../../images/pattern-bg-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35%;
}

.tracker__group-xl {
    min-height: 65%;
}

@media screen and (max-width: 950px) {
    .tracker__group {
        background-image: url(../../images/pattern-bg-mobile.png);
    }
}

.tracker__title {
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.tracker__form {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.tracker__input {
    padding: 0;
    padding-left: 10px;
    width: 400px;
    height: 60px;
    border: transparent;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
}

.tracker__button {
    background-image: url(../../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: transparent;
    color: white;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 0 10px 10px 0;
}

.tracker__stats {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1200px;
    min-height: 150px;
    border-radius: 20px;
    background-color: white;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
}

.tracker__lists {
    margin: 30px 0px;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tracker__list:nth-child(-n+3) {
    padding-right: 30px;
    border-right: solid 1.5px hsl(0, 0%, 59%);
}

@media screen and (max-width: 950px) {
    .tracker__list:nth-child(-n+3) {
        border: transparent;
    }

    .tracker__lists {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .tracker__list {
        text-align: center;
    }
}

.tracker__subtitle {
    margin: 0;
    margin-bottom: 10px;
    color: var(--DarkGray);
    font-size: 14px;
    font-weight: 500;
}

.tracker__text {
    margin: 0;
    color: var(--VeryDarkGray);
    font-size: 25px;
    font-weight: 500;
}